.sidebar-book-card-widget {
  margin-bottom: 10px;

  .book-details {
    animation: appear 0.3s ease-out;
    height: 200px;
    overflow: hidden;
    position: relative;
    white-space: normal;
    width: 100%;
  }

  .book-author {
    cursor: pointer;
    font-size: 12px;
  }

  .year {
    font-size: 12px;
  }

  .book-title {
    -webkit-box-orient: vertical;
    display: box;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
  }

  .book-stats {
    line-height: 12px;
  }

  .book-cover {
    border-radius: 3px;
    cursor: zoom-in;
    display: block;
    float: left;
    height: 200px;
    position: relative;
    width: 130px;

    &:hover .book-overlay {
      display: block;
    }
  }

  .book-toolbar {
    display: block;
    margin-top: 12px;

    &:nth-child(2) {
      bottom: 8px;
    }

    a,
    a:visited {
      color: $color-book-action-text;
      font-size: 12px;
      padding: 4px 8px;
    }

    .goodreads-button {
      background-color: $color-goodreads;
    }
  }

  .book-tags {
    line-height: 12px;

    .tag-container {
      font-size: 10px;
      margin: 0;
      margin-right: 2px;
    }
  }
}
