<%= turbo_frame_tag "task_apply_form", target: "_top" do %>
  <div class="card mt-2">
    <div class="card-header">
      References:
    </div>

    <div class="card-body">
      <% author = @task.author %>
      <div class="container mt-4">
        <% if author.wiki_url.present? %>
          <div class="row mb-3">
            <div class="col-md-3 font-weight-bold text-end">Wiki:</div>
            <div class="col-md-9"><%= external_link_to author.wiki_url, author.wiki_url %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">
      Body of updates:
    </div>

    <div class="card-body">
      <%= render 'admin/books/batch_edit', books: @books, target: apply_admin_author_list_parsing_path(@author, @task),
        actions: [
          button_to('Reject', reject_admin_data_fetch_task_path(@task), method: :put, class: 'btn btn-danger btn-lg')
        ]
      %>
    </div>
  </div>
<% end %>
