<% admin_nav_crumbs admin_nav_books_link, "Batch Edit" %>

<div class="card">
  <div class="card-header">
    Authors:
  </div>

  <div class="card-body">
    <% @authors.each do |author| %>
      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end"><%= author.fullname %></div>
        <div class="col-md-9"><%= external_link_to author.wiki_url, author.wiki_url %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="card mt-2">
  <div class="card-header">
    Books to update:
  </div>

  <div class="card-body">
    <%= render 'admin/books/batch_edit', books: @books %>
  </div>
</div>
