.panel--public-list-intro {
  .panel--header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .form-select {
      font-size: 12px;
      width: 90px;
    }
  }

  .public-list-intro-list-links {
    margin-top: 10px;
  }
}
