.b-books-batch-form {
  .b-external-link-input {
    white-space: nowrap;

    input[type='text'] {
      display: inline-block;
      width: 55px;
    }

    .b-reversible-input-container {
      width: auto;
    }

    .b-info .b-reset-button {
      text-decoration: none;
    }
  }

  .b-batch-external-link {
    text-decoration: none;
    vertical-align: top;

    &:not([href]) {
      display: none;
    }
  }

  .b-author-badges-list {
    margin-bottom: 4px;
    width: 100%;
  }

  .b-author-badges-input {
    float: left;
    width: calc(100% - 40px);
  }

  .b-author-badges-button {
    float: right;
    text-align: right;
    width: 40px;
  }
}
