.b-books-batch-form {
  .b-external-link-input {
    white-space: nowrap;

    input[type='text'] {
      display: inline-block;
      width: 55px;
    }
  }

  .b-batch-external-link {
    text-decoration: none;

    &:not([href]) {
      display: none;
    }
  }
}
