@import 'bootstrap/scss/bootstrap';
@import 'cover_designs';
@import 'fonts';
@import 'frontend/palette';
@import 'frontend/books-list-linear';
@import 'frontend/public-lists';
@import 'frontend/navbar';
@import 'frontend/panels';
@import 'frontend/scaffolds';
@import 'frontend/widgets/form-input-image';
@import 'frontend/widgets/form-input-tags';
@import 'frontend/widgets/icons';
@import 'frontend/widgets/image-modal';
@import 'frontend/widgets/tag-container';
@import 'frontend/widgets/years-slider';
@import 'frontend/panels/author-card';
@import 'frontend/panels/authors-list';
@import 'frontend/panels/book-details';
@import 'frontend/panels/books-list-covers';
@import 'frontend/panels/books-stack';
@import 'frontend/panels/books-year';
@import 'frontend/panels/list-intro';
@import 'frontend/panels/tags-list';

body {
  margin: 0;
  min-width: 900px;

  .f-page-content-container {
    max-width: 100%;
    width: 100%;
  }
}

.page-header {
  .root-link {
    cursor: pointer;
    text-transform: uppercase;
  }
}

.panels-page {
  padding: 10px;
}

body .internal-link,
body .internal-link a {
  color: #3f73d9;
  text-decoration: none;
  background-color: transparent;
}

body .internal-link:visited,
body .internal-link a:visited {
  color: #6f91cc;
}

body .internal-link:hover,
body .internal-link a:hover {
  color: #2859b5;
  text-decoration: underline;
  background-color: transparent;
}

.page {
  padding-top: 56px;
}

.ratings-info {
  font-size: 10px;
  font-style: italic;

  .popularity-points {
    color: darkred;
  }
}

::placeholder {
  color: #aaa !important;
}

.notifications {
  z-index: 1100;

  .alert {
    padding-bottom: 17px;
    padding-top: 17px;
  }
}

.external-link.btn {
  font-size: 12px;
  line-height: 1.5;
  padding: 4px 4px 4px 8px;

  .external-link-icon {
    margin-left: 3px;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    color: #fff !important;
  }
}
