@import 'bootstrap/scss/bootstrap';
@import 'admin/author';
@import 'admin/badges';
@import 'admin/book-form';
@import 'admin/books';
@import 'admin/books-batch-form';
@import 'admin/collections';
@import 'admin/cover_designs';
@import 'admin/feed';
@import 'admin/genres';
@import 'admin/reversible-inputs';
@import 'admin/tasks';
@import 'cover_designs';
@import 'fonts';

:root {
  --bs-btn-disabled-opacity: 0.9;
}

a[href^='http'] {
  color: $orange-600;
}

.display-link {
  color: $green-600;

  &:hover {
    color: $green-700;
  }
}

.b-local-action {
  color: var(--bs-link-color);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--bs-link-hover-color);
    text-decoration: none;
  }
}

.b-actions-dropdown {
  .b-actions-dropdown-toggle {
    &:hover,
    &:focus,
    &:active,
    &.show {
      text-decoration: none;
    }
  }

  .dropdown-item {
    color: var(--bs-link-color);

    &:hover,
    &:focus,
    &:active {
      color: var(--bs-link-hover-color);
    }

    &.text-danger {
      color: var(--bs-danger);

      &:hover,
      &:focus,
      &:active {
        color: var(--bs-danger);
      }
    }
  }

  .b-dropdown-item-action {
    text-decoration: none;
  }

  .b-dropdown-item-link {
    text-decoration: underline;
  }
}

.b-dropdown-item-form {
  margin: 0;

  .dropdown-item {
    width: 100%;
  }
}

.d-index-search-input {
  display: inline-block;
  width: 100px;
}
