.b-author-page {
  .b-author-photo {
    border-radius: 70px;
    display: block;
    height: 130px;
    object-fit: cover;
    width: 130px;
  }
}

.b-author-autocomplete-container {
  position: relative;
}

.b-author-autocomplete-results {
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
