.b-task-toggle-details {
  color: #666;
  text-align: right;
  width: 100%;
}

.b-task-fetch-results {
  table-layout: fixed;
  width: 100%;

  .b-task-fetch-data {
    max-width: 100%;
    overflow-wrap: anywhere;
    overflow-x: auto;
    white-space: pre-wrap;
    word-break: break-word;
  }
}
