@import 'bootstrap/scss/bootstrap';
@import 'admin/author';
@import 'admin/book-form';
@import 'admin/books';
@import 'admin/books-batch-form';
@import 'admin/cover_designs';
@import 'admin/genres';
@import 'admin/reversible-inputs';
@import 'admin/tasks';
@import 'cover_designs';
@import 'fonts';

a[href^='http'] {
  color: $orange-600;
}

.display-link {
  color: $green-600;

  &:hover {
    color: $green-700;
  }
}

.d-index-search-input {
  display: inline-block;
  width: 100px;
}
