<% admin_nav_crumbs admin_nav_public_list_types_link, admin_nav_public_list_type_link(@public_list_type), admin_nav_public_list_link(@public_list), "Edit" %>

<div class="container mt-4">
  <%= render "form" %>
</div>
