<%= turbo_frame_tag "task_status_actions" do %>
  <div class="container mt-3 d-flex">
    <%- unless task.verified? %>
      <%= button_to "Verify job", verify_admin_data_fetch_task_path(task), method: :put,
        class: "btn btn-primary btn-lg me-3", data: { turbo_frame: "task_status_actions" } %>
    <% end %>
    <%- unless task.rejected? %>
      <%= button_to "Reject job", reject_admin_data_fetch_task_path(task), method: :put,
        class: "btn btn-danger btn-lg me-3", data: { turbo_frame: "task_status_actions" } %>
    <% end %>
  </div>
<% end %>
